<!-- <div>
    <button [ngClass]="{
        'disabled': button_disabled,
        'btn': true,
        'btn-danger': true
    }" class="" (click)="text_color = 'text-danger'">Color rojo</button>
    <button [class]="{
        'disabled': button_disabled,
    }" class="btn btn-success mx-2" (click)="text_color = 'text-success'">Color verde</button>
    <button [class]="{
        'disabled': button_disabled,
    }" class="btn btn-primary" (click)="text_color = 'text-primary'">Color azul</button>
</div> -->

<!-- <div>
    <button [disabled]="false" class="btn btn-danger" (click)="text_color = 'text-danger'">Color rojo</button>
    <button [disabled]="false" class="btn btn-success mx-2" (click)="text_color = 'text-success'">Color verde</button>
    <button [disabled]="false" class="btn btn-primary" (click)="text_color = 'text-primary'">Color azul</button>
</div>

<p>Texto que va a cambiar de color</p>

<button class="btn btn-secondary" (click)="button_disabled = !button_disabled">
    Activar/Desactivar
</button> -->

<div>
    <button class="btn btn-primary" (click)="src = 'https://images.pexels.com/photos/6653118/pexels-photo-6653118.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load'">Imagen 1</button>
    <button class="btn btn-danger" (click)="src = 'https://images.pexels.com/photos/11067746/pexels-photo-11067746.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load'">Imagen 2</button>
</div>

<img [src]="src" alt="">